<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DevelopmentSettings" value="{ IsDevelopmentMode: true }" />
    <add key="LocalTextPackages" value="{ Site: [ 'Controls.', 'Db.', 'Dialogs.', 'Enums.', 'Forms.', 'Permission.', 'Site.', 'Validation.' ] }" />
    <add key="Logging" value="{  File: '~\\App_Data\\Log\\App_{0}_{1}.log',  FlushTimeout: 0,  Level: 'Off' }" />
    <add key="ScriptBundling" value="{ Enabled: false, Minimize: true, UseMinJS: true }" />
    <add key="UploadSettings" value="{ Path: '~\\App_Data\\upload\\' }" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ActiveDirectory" value="{ Domain: 'techmosa.com.tw' }" />    
  </appSettings>
  
  <connectionStrings>
    <add name="Default" connectionString="Data Source=10.2.32.19; Initial Catalog=EISPortal_Default_v1; User ID=sa; Password=tmstop;" providerName="System.Data.SqlClient" />
    <add name="Northwind" connectionString="Data Source=10.2.32.19; Initial Catalog=EISPortal_Northwind_v1; User ID=sa; Password=tmstop;" providerName="System.Data.SqlClient" />
    <add name="EIS2" connectionString="Data Source=10.2.32.7; Initial Catalog=EIS2; Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="B2B" connectionString="Data Source=10.2.32.19; Initial Catalog=B2B; Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="BPM" connectionString="Data Source=10.2.32.19; Initial Catalog=Agentflow; Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="ds22" connectionString="DRIVER={IBM INFORMIX ODBC DRIVER};DATABASE=ds22;uid=informix;pwd=tms0703;HOST=10.2.32.9;SERVER=on_tcp9;SERVICE=on_tcp9_srv;PROTOCOL=olsoctcp;CLIENT_LOCALE=zh_tw.big5;DB_LOCALE=zh_tw.big5" providerName="System.Data.Odbc" />
    <add name="HR" connectionString="Data Source=10.2.32.6; Initial Catalog=TECHMOSA; User ID=oa; Password=oa;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="no-reply@mysite.com">
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" path="/" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <globalization culture="auto:en-US" uiCulture="auto:en-US" />
  </system.web>
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
  <handlers>
      
      <add name="SkipStaticFileForUploadFolder" verb="GET" path="upload/*" type="System.Web.Handlers.TransferRequestHandler" />
  <add name="DynamicScriptHandler" verb="POST,GET,HEAD" path="DynJS.axd" type="Serenity.Web.HttpHandlers.DynamicScriptHandler, Serenity.Web" /></handlers>
</system.webServer>
  
</configuration>
